.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.main .focus {
    position: relative;
    width: 720px;
    height: 100%;
    overflow: hidden;
}

.main .newsflash {
    width: 250px;
    height: 100%;
}

.focus img {
    width: 720px;
    height: 455px;
}

.focus>ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
}

.focus>ul>li {
    float: left;
}

.focus .prev,
.next {
    position: absolute;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.5);
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    z-index: 2;
}

.focus .prev {
    display: none;
    left: 10px;
}

.focus .next {
    display: none;
    right: 10px;
}

.focus .pro-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.focus .pro-nav li {
    float: left;
    width: 10px;
    height: 10px;
    margin: 5px 0;
    margin-left: 12px;
    background-color: #fff;
    list-style: none;
    border-radius: 5px;
}

.focus .pro-nav .current {
    background-color: #c37633;
}

.newsflash .news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.new_hd {
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    line-height: 33px;
    padding: 0 15px;
    font-size: 16px;
}

.new_hd a {
    font-size: 12px;
}

.new_hd a::after {
    content: '\ea42';
    font-family: 'icomoon';
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px;
}

.new_bd {
    padding: 5px 15px 0;
}

.new_bd a {
    display: block;
    height: 24px;
    width: 200px;
    line-height: 24px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.newsflash .life {
    height: 210px;
    border-left: 1px solid #e4e4e4;
}


.life li {
    float: left;
    height: 70px;
    width: 25%;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.life li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat;
}

.life li p {
    font-size: 14px;
}

.life li:nth-child(1) i {
    background-position: -19px -15px;
}

.life li:nth-child(2) i {
    background-position: -80px -18px;
}

.life li:nth-child(2) {
    position: relative;
}

.life li em {
    position: absolute;
    top: 0;
    right: 0;
    background-color: greenyellow;
    background: url(../images/jian.jpg) no-repeat;
    width: 12px;
    height: 15px;
}

.life li:nth-child(3) i {
    background-position: -142px -16px;
}

.life li:nth-child(4) i {
    background-position: -205px -16px;
}

.life li:nth-child(5) i {
    background-position: -17px -88px;
}

.life li:nth-child(6) i {
    background-position: -80px -88px;
}

.life li:nth-child(7) i {
    background-position: -142px -88px;
}

.life li:nth-child(8) i {
    background-position: -205px -88px;
}

.life li:nth-child(9) i {
    background-position: -17px -160px;
}

.life li:nth-child(10) i {
    background-position: -79px -158px;
}

.life li:nth-child(11) i {
    background-position: -142px -160px;
}

.life li:nth-child(12) i {
    background-position: -205px -160px;
}

.newsflash .ad {
    margin-top: 5px;
}

.recommand {
    height: 163px;
    margin-top: 12px;
    background-color: #ebebeb;
}

.recom_left {
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_right ul li {
    position: relative;
    float: left;
}

.recom_right ul li img {
    height: 163px;
    width: 248px;
}

.recom_right ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
    line-height: 30px;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: normal;
}

.box_hd .tab_list {
    float: right;
}

.box_hd .tab_list ul li {
    float: left;
    font-size: 12px;
}

.box_hd .tab_list ul li a {
    margin: 0 15px;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 360px;
}

.box_bd .tab_content .tab_list_item>div {
    float: left;
}

.box_bd .tab_content .tab_list_item>div:nth-child(1) {
    width: 210px;
    background-color: #f9f9f9;
    height: 360px;
    text-align: center;
    overflow: hidden;
}

.box_bd .tab_content .tab_list_item>div:nth-child(1) ul {
    margin-left: 14px;
}

.box_bd .tab_content .tab_list_item>div:nth-child(1) ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 13px;
}

.box_bd .tab_content .tab_list_item>div:nth-child(2) {
    width: 330px;
    overflow: hidden;
}

.box_bd .tab_content .tab_list_item>div:nth-child(n+3) {
    width: 220px;
    border-right: 1px solid #ccc;
    overflow: hidden;
}

.floor img {
    transition: all .5s;
}

.floor img:hover {
    margin-left: 5px;
}

.imga {
    display: block;
    border-bottom: 1px solid #ccc;
}

/* 固定菜单栏 */
.fixed {
    position: fixed;
    top: 190px;
    left: 50%;
    margin-left: -676px;
    text-align: center;
}

.fixed li {
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.fixed li:nth-child(1) {
    background-color: #b1191a;
}

.fixed li:nth-child(1) a {
    color: #fff;
}

.fixed li:last-child {
    border-bottom: none;
}

.fixed #top {
    display: none;
    font-size: 12px;
    cursor: pointer;
}